.img-float {
	width: 250px;
	height: 250px;
	/*	The float property can be set either to the left or right. This positioning will depend on the content or sibling of the element you are selecting*/
	float: right;
	z-index: 99;
}

.parent-element	{
	background-color: skyblue;
	padding: 10px;
/*	*/
	position: relative;
	height: 800vh;
	z-index: -1;
}
.child-one {
	background-color: gray;
	padding: 10px;
}

/*Static - default positioning of any element. Cannot use TLBR positioning*/
/*Relative - Opposite of static, wherein you can modifty the top left bottom and right properties to define the exact position of the element. It also depends on the parent element*/
/*Absolute - This does not depend on the parent element, It depends on the whole page itself. Can modify the exact position by modifying TLBR properties. */
.child-two {
	background-color: yellow;
	padding: 10px;
	position: absolute;
	left: 10px;
	bottom: 10px;

}
.child-three {
	background-color: indianred;
	padding: 10px;
	position: sticky;
	top: 10px;
}

html {
	height: 800vh;
}